.compliace-main-header {
  margin-top: 4rem;
  color: #0b4c95;
  font-size: 2rem;
}

.compliace-second-header {
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

.complianceParagraph {
  margin-top: 2.3rem;
  text-size-adjust: auto;
}
.compliace-article {
  max-width: 35rem;
  margin-left: 1rem;
}
