.compliace-main-header {
  margin-top: 2rem;
  color: #0b4c95;
  font-size: 2rem;
}

.compliace-second-header {
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

.complianceParagraph {
  margin-top: 2.3rem;
  text-size-adjust: auto;
}
.compliace-article {
  max-width: 35rem;
  margin-left: 1rem;
}

.compliance-flex-center {
  margin: 0 auto;
}

/*Max-width is basically saying 500px, if youre in that this will happen*/
@media all {
  /* xs, extra-small: 0px
  sm, small: 600px
  md, medium: 900px
  lg, large: 1200px
  xl, extra-large: 1536px */

  @media only screen and (min-width: 300px) {
    .compliace-main-header {
      font-size: 1.1rem;
    }
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (min-width: 500px) {
    .compliace-main-header {
      font-size: 1.3rem;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .compliace-main-header {
      font-size: 1.4rem;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .compliace-main-header {
      font-size: 1.6rem;
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .compliace-main-header {
      font-size: 1.8rem;
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .compliace-main-header {
      font-size: 2rem;
    }
  }
}
