.homePageText {
  color: white;
  text-align: center;
  max-width: 40rem;
  margin-top: 4rem;
  background-color: #126fdb;
  border-radius: 1rem;
  text-align: left;
}

.mGridHomePage {
  max-width: 38rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.jointWellFooter {
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  max-width: 40rem;
  margin: 0 auto;
  font-size: 0.8rem;
  position: relative;
  bottom: 0.3rem;
  left: 0;
  right: 0;
  margin-top: 4rem;
}

.homePageMainPicture {
  border: 0.5px solid transparent;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.joint-well-china-paragraph {
  margin: 0 auto;
}

.joint-well-china-header {
  color: #126fdb;
  font-size: 1.6rem;
  margin-left: 1rem;
}
/* 
this is in case we want to do hover
.home-page-box-introduction-c-v {
  border: 1px solid transparent;
  border-radius: 12px;
  transition: 0.3s;
} */

.home-page-box-introduction-c-v {
  border: 1px solid #126fdb;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  top: 61%;
  background-color: #126fdb;
  transform: translateY(-100%);
}

.home-page-text-header-c-v {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

.home-page-text-header-c-v-2 {
  color: orange;
  font-weight: 600;
  font-size: 1.2rem;
}

.home-page-open-statement-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.joint-well-intro-writing {
  margin-top: 1rem;
  border: 1px solid #126fdb;
  border-radius: 12px;
  max-width: 40rem;
}

.joint-well-intro-text {
  margin-right: 1rem;
}

.home-page-text-font-size {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.home-page-grid-col-each {
  border: 1px solid #126fdb;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  background-color: #126fdb;
  max-height: 11rem;
}

.home-page-flex-col-each {
  background-color: #126fdb;
  cursor: pointer;
  color: white;
  border: 1px solid #126fdb;
  border-radius: 12px;
  max-width: max-content;
}

.home-page-box-for-enter {
  max-width: fit-content;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

/* .joint-well-intro-pic {
  border: 2px solid #126fdb;
  border-radius: 12px;
} */

/*Max-width is basically saying 500px, if youre in that this will happen*/
@media all {
  /* xs, extra-small: 0px
  sm, small: 600px
  md, medium: 900px
  lg, large: 1200px
  xl, extra-large: 1536px */

  @media only screen and (min-width: 300px) {
    .homePageText {
      max-width: 18rem;
    }

    /* .home-page-grid-col-each {
      max-width: fit-content;
    } */
    /* .home-page-text-header-c-v {
      font-size: 0.5rem;
    }

    .home-page-text-header-c-v-2 {
      font-size: 0.5rem;
    } */
  }

  @media only screen and (max-width: 349px) {
    .homePageText {
      max-width: 18rem;
    }

    /* .home-page-grid-col-each {
      max-width: fit-content;
    } */
    /* .home-page-text-header-c-v {
      font-size: 0.5rem;
    }

    .home-page-text-header-c-v-2 {
      font-size: 0.5rem;
    } */

    .home-page-text-header-c-v {
      font-size: 1rem;
    }
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (min-width: 500px) {
    .homePageText {
      max-width: 26rem;
    }

    /* .home-page-grid-col-each {
      max-width: fit-content;
    } */
    /* .home-page-text-header-c-v {
      font-size: 0.7rem;
    }

    .home-page-text-header-c-v-2 {
      font-size: 0.7rem;
    } */
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .homePageText {
      max-width: 32rem;
    }

    /* .home-page-grid-col-each {
      max-width: fit-content;
    } */
    /* .home-page-text-header-c-v {
      font-size: 0.8rem;
    }

    .home-page-text-header-c-v-2 {
      font-size: 0.8rem;
    } */
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .homePageText {
      max-width: 34rem;
    }

    /* .home-page-grid-col-each {
      max-width: fit-content;
    } */

    /* .home-page-text-header-c-v {
      font-size: 0.84rem;
    }

    .home-page-text-header-c-v-2 {
      font-size: 0.84rem;
    } */
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 991px) {
    .home-page-grid-col-each {
      max-width: fit-content;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .homePageText {
      max-width: 38rem;
    }
    /* .home-page-text-header-c-v {
      font-size: 1rem;
    }

    .home-page-text-header-c-v-2 {
      font-size: 1rem;
    } */

    .home-page-box-for-enter {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .homePageText {
      max-width: 49rem;
    }
    .home-page-text-header-c-v {
      font-size: 1rem;
    }

    .home-page-text-header-c-v-2 {
      font-size: 1.2rem;
    }

    .home-page-box-for-enter {
      margin-left: 4.5rem;
      margin-right: 4.5rem;
    }
  }
}

/*Max-width is basically saying 500px, if youre in that this will happen*/
@media all {
  /* xs, extra-small: 0px
  sm, small: 600px
  md, medium: 900px
  lg, large: 1200px
  xl, extra-large: 1536px */

  @media only screen and (min-width: 300px) {
    .joint-well-intro-writing {
      max-width: 18rem;
    }
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (min-width: 500px) {
    .joint-well-intro-writing {
      max-width: 26rem;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .joint-well-intro-writing {
      max-width: 32rem;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .joint-well-intro-writing {
      max-width: 34rem;
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .joint-well-intro-writing {
      max-width: 36rem;
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .joint-well-intro-writing {
      max-width: 50rem;
    }
  }
}
