.homePageText {
  color: white;
  text-align: center;
  max-width: 40rem;
  margin-top: 4rem;
  background-color: #0b4c95;
  border-radius: 1rem;
  text-align: left;
}

.mGridHomePage {
  max-width: 38rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.jointWellFooter {
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  max-width: 40rem;
  margin: 0 auto;
  font-size: 0.8rem;
  position: relative;
  bottom: 0.3rem;
  left: 0;
  right: 0;
  margin-top: 4rem;
}

.homePageMainPicture {
  border: 0.5px solid transparent;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.joint-well-china-paragraph {
  margin: 0 auto;
}

.joint-well-china-header {
  color: #0b4c95;
  font-size: 1.6rem;
  margin-left: 1rem;
}

.home-page-box-introduction-c-v {
  border: 1px solid transparent;
  border-radius: 12px;
  transition: 0.3s;
}

.home-page-box-introduction-c-v {
  border: 1px solid #0b4c95;
  border-radius: 12px;
  cursor: pointer;
}

.home-page-text-header-c-v {
  color: #0b4c95;
  font-weight: 600;
  font-size: 1.2rem;
}

.home-page-text-header-c-v-2 {
  color: orange;
  font-weight: 600;
  font-size: 1.2rem;
}

.home-page-open-statement-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.joint-well-intro-writing {
  border: 1px solid #0b4c95;
  border-radius: 12px;
}

.joint-well-intro-text {
  margin-right: 1rem;
}

.home-page-text-font-size {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

/*Max-width is basically saying 500px, if youre in that this will happen*/
@media all {
  /* xs, extra-small: 0px
  sm, small: 600px
  md, medium: 900px
  lg, large: 1200px
  xl, extra-large: 1536px */

  @media only screen and (max-width: 400px) {
    .homePageText {
      max-width: 22rem;
    }

    .home-page-text-header-c-v {
      font-size: 0.5rem;
    }

    .home-page-text-header-c-v-2 {
      font-size: 0.5rem;
    }
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (min-width: 500px) {
    .homePageText {
      max-width: 30rem;
    }

    .home-page-text-header-c-v {
      font-size: 0.7rem;
    }

    .home-page-text-header-c-v-2 {
      font-size: 0.7rem;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .homePageText {
      max-width: 32rem;
    }

    .home-page-text-header-c-v {
      font-size: 0.8rem;
    }

    .home-page-text-header-c-v-2 {
      font-size: 0.8rem;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .homePageText {
      max-width: 34rem;
    }

    .home-page-text-header-c-v {
      font-size: 0.84rem;
    }

    .home-page-text-header-c-v-2 {
      font-size: 0.84rem;
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .homePageText {
      max-width: 36rem;
    }
    .home-page-text-header-c-v {
      font-size: 1rem;
    }

    .home-page-text-header-c-v-2 {
      font-size: 1rem;
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .homePageText {
      max-width: 40rem;
    }
    .home-page-text-header-c-v {
      font-size: 1.2rem;
    }

    .home-page-text-header-c-v-2 {
      font-size: 1.2rem;
    }
  }
}

/*Max-width is basically saying 500px, if youre in that this will happen*/
@media all {
  /* xs, extra-small: 0px
  sm, small: 600px
  md, medium: 900px
  lg, large: 1200px
  xl, extra-large: 1536px */
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .joint-well-intro-pic {
      width: 20%;
      height: 20%;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }
}
