.contact-us-grid-form-left {
  margin-left: 6rem;
  max-width: 35rem;
  margin-top: 10rem;
}

.footer-contact-us {
  background-color: #0b4c95;
  margin-top: 10rem;
}

.jw-footer-title {
  color: white;
  margin-top: 2rem;
}

.column-contact-us-footer-flex {
  margin-top: 1rem;
  background-color: #0b4c95;
}

.footer-grid-for-contacts {
  margin-top: 1.3rem;
  margin-bottom: 0.4rem;
}

.text-section-contact-us {
  color: white;
  max-width: 15rem;
  background-color: #267adb;
  border-radius: 1rem;
}
