.contentDropDown {
  /*max-height: 800px;*/
  overflow: hidden;
  transition: max-height ease 1s;
  margin-left: 1rem;
}

.dropDownExperience {
  color: #0b4c95;
  font-weight: 600;
  cursor: pointer;
  margin: 0 auto;
}

.drop-down-item-each {
  color: #0b4c95;
  font-weight: 600;
  transition: 0.4s;
}

.drop-down-item-each:hover,
.drop-down-item-each-active:hover {
  text-decoration: underline;
  text-decoration-color: lightblue;
}

.dropDownExperience-active {
  color: orange;
  font-weight: 600;
}

.drop-down-item-each-active {
  color: orange;
  font-weight: 600;
  transition: 0.4s;
}
